<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ path('css/font-awesome.css')}}">
    {% block styles_extra %}
    {% endblock %}
    <link rel="stylesheet" href="{{ path('css/style.css') }}" />
</head>
<body>
    <nav class="navbar navbar-default bg-navy">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{{ path() }}">KIPALOG</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_login() %}
                {% set loginUser = get_login_user() %}
                <li><a href="{{ mlpath('cms/post/add') }}"><span class="glyphicon glyphicon-pencil"></span> Post new</a></li>
                <li><a href="{{ mlpath('post/') }}"><span class="glyphicon glyphicon-home"></span> Trang chủ</a></li>
                <li class="separate"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <span class="badge label-danger">42</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="">new</a></li>
                        <li><a href="">new</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">{{ avatar(loginUser.avatar, 38, 'class="img-circle menu-avatar"') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ mlpath('user/'~loginUser.username) }}">My page</a></li>
                        <li><a href="{{ mlpath('user/account/'~loginUser.id~'/edit') }}">Edit</a></li>
                        <li><a href="{{ mlpath('user/account/logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ mlpath('user/account/register') }}"><small><span class="glyphicon glyphicon-user"></span></small> Đăng ký</a></li>
                <li><a href="{{ mlpath('user/account/login') }}"><small><span class="glyphicon glyphicon-log-in"></span></small> Đăng nhập</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">{% include 'Section/messages.html' %}</div>

    <div class="container {% block main_site_class %}{% endblock %}">
        <div class="row">
            <div class="col-md-12">
            {% block body %}
            {% endblock %}
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container"><hr></div>
        <div class="container">
            <div class="links">
                <a target="_blank" href="http://kipalog.com/tos">
                    Điều khoản
                </a>
                <a target="_blank" href="https://www.facebook.com/groups/1466126020344500/">
                    Phản hồi
                </a>
                <a target="_blank" href="https://github.com/Kipalog/Issue-tracker">
                    Yêu cầu
                </a>
                <a target="_blank" href="https://www.facebook.com/pages/Kipalog/486208978117754">
                    Fanpage
                </a>
                <span class="copyright pull-right">Copyright © 2015 Kipalog</span>
            </div>
        </div>
    </footer>

    <script src="{{ path('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ path('js/bootstrap.min.js') }}"></script>
    {% block scripts_extra %}
    {% endblock %}
</body>
</html>