<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ path('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ path('css/font-awesome.min.css')}}">
    {% block styles_extra %}
    {% endblock %}
    <link rel="stylesheet" href="{{ path('css/style.css') }}" />
</head>
<body>
    <nav class="navbar navbar-default bg-navy">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="{{ mlpath() }}">Kipalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_login() %}
                {% set loginUser = get_login_user() %}
                <li><a href="{{ mlpath('cms/post/add') }}"><span class="glyphicon glyphicon-pencil"></span> {{ 'Post new'|trans }}</a></li>
                <li><a href="{{ mlpath('post/') }}"><span class="glyphicon glyphicon-home"></span> {{ 'Home'|trans }}</a></li>
                <li class="separate"></li>
                <li class="dropdown noti">
                    {% include 'Section/notification.html' %}
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-toggle-avatar" data-toggle="dropdown">{{ avatar(loginUser.avatar, 38, 'class="img-circle menu-avatar"') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ mlpath('user/'~loginUser.username) }}">My page</a></li>
                        <li><a href="{{ mlpath('user/account/'~loginUser.id~'/edit') }}">Edit</a></li>
                        <li><a href="{{ mlpath('user/account/logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ mlpath('user/account/register') }}"><small><span class="glyphicon glyphicon-user"></span></small> Đăng ký</a></li>
                <li><a href="{{ mlpath('user/account/login') }}"><small><span class="glyphicon glyphicon-log-in"></span></small> Đăng nhập</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">{% include 'Section/messages.html' %}</div>

    <div class="container {% block main_site_class %}{% endblock %}">
        <div class="row">
            <div class="col-md-12">
            {% block body %}
            {% endblock %}
            </div>
        </div>
    </div>

    <footer class="site-footer">{% include 'Section/footer.html' %}</footer>
    <script>
    var global_variables = {
        site_url: "{{ mlpath() }}",
        current_user_id: "{{ loginUser ? loginUser.id : '' }}"
    }
    </script>
    <script src="{{ path('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ path('js/bootstrap.min.js') }}"></script>
    <script src="{{ path('js/site.js') }}"></script>
    {% block scripts_extra %}
    {% endblock %}
</body>
</html>