<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ path() }}">Home</a>
        <a href="{{ path('cms/post') }}">Posts</a>
        <a href="{{ path('catalog/product') }}">Products</a>
        <span>|</span>
        <a href="{{ path('customer/account/register') }}">Register</a>
        <a href="{{ path('customer/account/login') }}">Login</a>
    </nav>
    <br><br>
    {% block body %}
    {% endblock %}
</body>
</html>