{% extends 'base_one_column.html' %}

{% block title %}Add new post{% endblock %}

{% block styles_extra %}
<link rel="stylesheet" href="{{ path('medium/css/medium-editor.min.css')}}">
<link rel="stylesheet" href="{{ path('medium/css/default.css')}}">
<link rel="stylesheet" href="{{ path('medium/css/font-awesome.css')}}">
<link rel="stylesheet" href="{{ path('medium/css/medium-editor-insert-plugin.min.css')}}">
<link rel="stylesheet" href="{{ path('medium/css/custom.css')}}">
{% endblock %}

{% block scripts_extra %}
<script src="{{ path('medium/js/jquery.ui.widget.js')}}"></script>
<script src="{{ path('medium/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ path('medium/js/jquery.fileupload.js') }}"></script>
<script src="{{ path('medium/js/medium-editor.js')}}"></script>
<script src="{{ path('medium/js/handlebars.runtime.min.js') }}"></script>
<script src="{{ path('medium/js/jquery-sortable-min.js') }}"></script>
<script src="{{ path('medium/js/templates.js') }}"></script>
<script src="{{ path('medium/js/core.js') }}"></script>
<script src="{{ path('medium/js/embeds.js') }}"></script>
<script src="{{ path('medium/js/images.js') }}"></script>
<script>
    var editor = new MediumEditor('.editable', ['encoding', 'URL']);
    $(function () {
        $('.editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    fileUploadOptions: {
                        url: "{{ path('cms/post/upload') }}"
                    },
                    sorting: function () {
                        // disable sort image
                    }
                },
                embeds: { // (object) Embeds addon configuration
                    //oembedProxy: null
                }
            }
        });
        $('.submit-post').on('click', function() {
            var allContents = editor.serialize();
            var elContent = allContents["element-0"].value;
            $('.content').html(elContent);
        });
    });
</script>
{% endblock %}

{% block body %}
<form action="{{ path('cms/post/post-submit') }}" method="post">
    <input type="text" name="title" value="" class="form-control control-title" placeholder="Title">
    <textarea name="content" class="hidden content"></textarea>
    <div class="editable" data-placeholder="Type some text"></div>
    <button type="submit" class="btn btn-primary submit-post">Post</button>
</form>
{% endblock %}