{% extends 'base_2_columns.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block styles_extra %}
<link rel="stylesheet" href="{{ path('medium/css/medium-editor-insert-plugin.min.css')}}">
<link rel="stylesheet" href="{{ path('js/fruidbox/fluidbox.min.css') }}">
{% endblock %}

{% block scripts_extra %}
<script src="{{ path('js/fruidbox/jquery.ba-throttle-debounce.min.js') }}"></script>
<script src="{{ path('js/fruidbox/jquery.fluidbox.min.js') }}"></script>
<script>
    $(function () {
        $('.fruidlink').fluidbox();
    });
    /*$('.medium-insert-images').on('click', 'img', function () {
        var link = this.src;
        if (link.length) {
            window.location.href = link;
        }
    });*/
</script>
{% endblock %}

{% block body %}
<h1>{{ post.title }}</h1>
<div class="tag">
    {% for tag in post.tags %}
    {% set tagUrl = path('cms/tag/'~tag.alias~'/view') %}
    <a href="{{ tagUrl }}" class="label label-default {{ tag.color }}">{{ tag.name }}</a>
    {% endfor %}
</div>
<br>
<p class="author">
    {% set user_link = path('user/'~post.user.username~'/profile') %}
    <a href="{{ user_link }}">{{ avatar(post.user.avatar, 30, 'class="img-circle"') }}</a>
    <a href="{{ user_link }}">{{ post.user.display_name }}</a> {{ 'written'|trans }} {{ post.created_at|date('d/m/Y') }}
</p>
<br>
<div class="post-content">{{ post.content|raw }}</div>

<h3>{{ 'Comment'|trans }}</h3>
<div class="comment">
    {% for comment in post.comments if comment.id %}
    {% set latest_comment = comment %}
    <div class="item row" id="comment-{{ comment.id }}">
        <div class="col-md-1">
            <a href="{{ path('user/'~comment.username~'/profile') }}">
                {{ avatar(comment.avatar, 50, 'class="img-circle"') }}
            </a>
        </div>
        <div class="col-md-9">
            <div class="item-header">
                <a href="{{ path('user/'~comment.username~'/profile') }}">
                    {{ comment.display_name }}
                </a>
                <span>{{ comment.content }}</span>
                {% if comment.reply|length > 5 %}
                <a class="reply-more" href="">
                    <span class="glyphicon glyphicon-share-alt"></span> {{ 'View previous replies'|trans }}
                </a>
                {% endif %}
                {% for reply in comment.reply %}
                {% set latest_comment = reply %}
                <div class="media">
                    <div class="media-left">{{ avatar(reply.avatar, 30, 'class="img-circle"') }}</div>
                    <div class="media-body">
                        <a href="{{ path('user/'~comment.username~'/profile') }}">
                            <strong>{{ reply.display_name }}</strong>
                        </a>
                        <span>{{ reply.content }}</span>&nbsp;&ndash;&nbsp;<small>{{ reply.created_at|time_ago }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="item-reply">
                <a href="">{{ 'Reply'|trans }}</a>&nbsp;&ndash;&nbsp;<small>{{ comment.created_at|time_ago }}</small>
                <form action="{{ path('cms/comment/addReply') }}" method="post" class="form-post-reply">
                    <div class="media">
                        <div class="media-left">{{ avatar(loginUser.avatar, 30, 'class="img-circle"') }}</div>
                        <div class="media-body"><input type="text" name="reply" placeholder="{{ 'Write reply'|trans }}" class="form-control control-reply" /></div>
                    </div>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="user_id" value="{{ loginUser.id }}">
                    <input type="hidden" name="comment_owner_id" value="{{ latest_comment.user_id }}">
                    <input type="hidden" name="comment_id" value="{{ comment.id ~ '-' ~ latest_comment.id }}">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <br>
    {% set back_url = path('post/'~post.alias)|url_encode %}
    {% if is_login() %}
    {% set loginUser = get_login_user() %}
    <form action="{{ path('cms/comment/add') }}" method="post" class="form-horizontal form-post-comment">
        <div class="form-group">
            <div class="col-md-1">
                <a href="{{ path('user/'~comment.username~'/profile') }}">
                    {{ avatar(loginUser.avatar, 50, 'class="img-circle"') }}
                </a>
            </div>
            <div class="col-md-9">
                <textarea name="content" rows="3" class="form-control" placeholder="{{ 'Write comment'|trans }}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-9 col-md-offset-1">
                <button type="submit" class="btn btn-default">{{ 'Send'|trans }}</button>
            </div>
        </div>
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="user_id" value="{{ loginUser.id }}">
        <input type="hidden" name="post_owner_id" value="{{ post.user_id }}">
    </form>
    {% else %}
    <p><a href="{{ path('user/account/login?back-url='~back_url) }}">Please login to comment</a></p>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
    {% include 'frontend/sidebar.html' with {user: post.user} %}
{% endblock %}