.btn-disable { color: #fff; background-color: #777; border-color: #777; }
.btn-disable:hover { color: #fff; background-color: #666; border-color: #666; }

.label-danger, .label-danger[href]:hover { background-color: #a94442; }
.label-primary, .label-primary[href]:hover { background-color: #337ab7; }
.label-success, .label-success[href]:hover { background-color: #3c763d; }
.label-info, .label-info[href]:hover { background-color: #31708f; }
.label-warning, .label-warning[href]:hover { background-color: #8a6d3b; }