.item { padding: 10px; border-top: 1px solid rgba(0,0,0,0.1);margin: 0 }
.item-header > a { font-size: 18px; font-weight: bold }
.item-header, .item-content { margin-bottom: 5px; }

.site-footer { padding: 50px 0; margin-top: 100px; }
.site-footer .links { margin: 0 50px; }
.site-footer .links a, .site-footer .copyright { margin: 0.7em; font-size: 12px; color: rgba(0,0,0,0.5); }

.label-danger, .label-danger[href]:hover { background-color: #a94442; }
.label-primary, .label-primary[href]:hover { background-color: #337ab7; }
.label-success, .label-success[href]:hover { background-color: #3c763d; }
.label-info, .label-info[href]:hover { background-color: #31708f; }
.label-warning, .label-warning[href]:hover { background-color: #8a6d3b; }

.post-content { font-size: 15px;line-height: 2;margin-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1); padding-bottom: 20px; }
.post-content img { max-width: 100%;height: auto !important; }

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover { cursor: default;background-color: #eee; }

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    direction: ltr;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.menu-avatar { margin-top: 5px; }

.btn-facebook { background-color: #3B579D; color: #FFFFFF; }
.btn-facebook:hover { background-color: #314983; color: #FFFFFF; }
.btn-twitter { background-color: #4092CC; color: #FFFFFF; }
.btn-twitter:hover { background-color: #399ADE; color: #FFFFFF; }
.btn-github { background-color: #5C6166; color: #FFFFFF; }
.btn-github:hover { background-color: #4C4C4C; color: #FFFFFF; }
.btn-google { background-color: #d14836; color: #FFFFFF; }
.btn-google:hover { background-color: #c53727; color: #FFFFFF; }

.medium-insert-images img { cursor: -webkit-zoom-in; cursor: zoom-in; }

/********************* KIPALOG ********************8*/
body { font-family: 'Ubuntu',sans-serif; }
.bg-navy {
    background-color: #2c4762;
    color: #fff;
}
.bg-navy .navbar-nav>li>a, .bg-navy .navbar-nav>li>a:hover, .bg-navy .navbar-nav>li>a:focus {
    color: #fff;
}
.big-title { margin: 1em 0 0 0; color: #4a4a4a; font-weight: bold; font-size: 2.4em; }
.title .description { font-size: 1.2em; line-height: 1.7em; font-weight: normal; }
.call_to_action .email { color: #56bb73; }
.showcase .description { color: rgba(0,0,0,0.6);font-style: italic;font-size: 15px }
.intro { margin: 3rem 0 0 0; }
h2.intro { margin: 25px 0 }
.topic { line-height: 2 }
.topic .panel img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); filter: grayscale(1);  opacity: .8; }
.topic .panel img:hover { -webkit-filter: grayscale(0); -moz-filter: grayscale(0); -ms-filter: grayscale(0); filter: grayscale(0); }
.has-feedback .form-control { padding-left: 42.5px; }
.form-horizontal .has-feedback .form-control-feedback { right: auto; left: 15px; opacity: 0.5; }
.register-form .form-group { margin-bottom: 30px; }
.header-logo { text-transform: uppercase; font-size: 2.5em; margin: .8em 0; }
.small-basic-segment { padding: 10px 0 40px; font-size: 16px; }
.user-info { padding-top: 50px; }
.navbar-nav>li>a.dropdown-toggle-avatar { padding: 5px }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color: #2c4762; }
.nav .separate {     border: 1px solid rgba(255,255,255,0.2); height: 30px; display: inline-block; margin: 10px; }
.navbar .glyphicon-bell { font-size: 18px; }
.nav .noti .dropdown-menu a { width: 450px; height: 50px; white-space: initial; display: inline-block }
.nav .noti .dropdown-menu .view-all { height: 20px; text-align: center; font-weight: bold }
.nav .noti .dropdown-menu li { padding: 5px 0; }
.nav .noti .dropdown-menu .media .content { line-height: 1.3;min-height: 20px; }
.nav .noti .dropdown-menu .media .date { font-size: 11px; }
.meta-profile h2 { font-size: 18px; font-weight: bold }
.form-post-comment { padding: 0 25px; }
.comment .item-header > a { font-size: 14px; }
.form-post-reply { margin-top: 7px; display: none }
.comment .media { display: none }
.comment .media:nth-last-child(-n+5) { display: inline-block }
.reply-more { display: block; margin: 20px 0 0 20px; }
.item-header > a.reply-more { font-weight: normal }