.item { padding: 10px; border-top: 1px solid rgba(0,0,0,0.1); }
.item-header > a { font-size: 18px; font-weight: bold }
.item-header, .item-content { margin-bottom: 5px; }

.site-footer { padding-top: 50px; padding-bottom: 50px; margin-top: 100px; color: #99979c;background-color: #2a2730; }

.label-danger, .label-danger[href]:hover { background-color: #a94442; }
.label-primary, .label-primary[href]:hover { background-color: #337ab7; }
.label-success, .label-success[href]:hover { background-color: #3c763d; }
.label-info, .label-info[href]:hover { background-color: #31708f; }
.label-warning, .label-warning[href]:hover { background-color: #8a6d3b; }

.post-content { font-size: 15px;line-height: 2; }