{% extends 'base_1_column.html' %}

{% block title %}Nền tảng chia sẻ kiến thức cho lập trình viên{% endblock %}

{% block main_site_class %}text-center{% endblock %}

{% block styles_extra %}
<link rel="stylesheet" href="{{ path('js/owlcarousel/assets/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ path('js/owlcarousel/assets/owl.theme.default.min.css')}}">
{% endblock %}

{% block scripts_extra %}
<script src="{{ path('js/owlcarousel/owl.carousel.js')}}"></script>
<script>
    $(document).ready(function() {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            dotsEach: true,
            items: 1,
            animateOut: 'fadeOut',
            loop: true
        });
        $('.play').on('click', function() {
            owl.trigger('play.owl.autoplay', [1000])
        })
        $('.stop').on('click', function() {
            owl.trigger('stop.owl.autoplay')
        })
    })
</script>
{% endblock %}

{% block body %}
<section class="title">
    <h1 class="big-title">{{ 'Nền tảng chia sẻ kiến thức cho lập trình viên'|trans }}</h1>
    <h2 class="description">
        <span>Ruby On Rails, Lotus, Python, Sysadmin, NodeJS, AngularJS, UI/UX, Haskell, Scala...</span>
        <br>
        <span>Rất nhiều các chủ đề hữu ích. Viết và chia sẻ để xây dựng thương hiệu cá nhân của riêng mình!</span>
    </h2>
</section>

<section class="signup">
    <span class="call_to_action">
        Tham gia ngay với
    </span>
    <span>
        <a href="{{ mlpath('user/auth/facebook') }}" class="btn btn-default btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="{{ mlpath('user/auth/twitter') }}" class="btn btn-default btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="{{ mlpath('user/auth/github') }}" class="btn btn-default btn-github"><i class="fa fa-github-alt"></i> Github</a>
    </span>
    <span class="call_to_action">
        Hoặc <a class="email" href="{{ mlpath('user/account/register') }}">đăng ký bằng email</a>
    </span>
</section>

<br><br>

<section class="showcase clearfix">
    <div class="col-md-10 col-md-offset-1">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="{{ path('images/screenshot/feed-2953aa23b91f79f2a9c0b014086bec9d.png')}}" alt="">
                <span class="showcase description">Bài viết hay được quyết định bởi cộng đồng</span>
            </div>
            <div class="item">
                <img src="{{ path('images/screenshot/editor-39156c4f3b1cdaf9d5c9a4c64580a111.png')}}" alt="">
                <span class="showcase description">Trình soạn thảo Markdown hỗ trợ hiển thị trực tiếp</span>
            </div>
            <div class="item">
                <img src="{{ path('images/screenshot/post-a6551dc7c86869e34644b2e1fe9e41e0.png')}}" alt="">
                <span class="showcase description">Trình bày dễ dàng và sáng sủa</span>
            </div>
            <div class="item">
                <img src="{{ path('images/screenshot/profile-fa6f48b171f7ab28b942f5b76ef54f95.png')}}" alt="">
                <span class="showcase description">Hồ sơ cá nhân nổi bật</span>
            </div>
            <div class="item">
                <img src="{{ path('images/screenshot/org_list-3e578c99184c2ccf953fb5217e4c8619.png')}}" alt="">
                <span class="showcase description">Hồ sơ cá nhân nổi bật</span>
            </div>
            <div class="item">
                <img src="{{ path('images/screenshot/org-4eb793a03123dca34f7750419063274c.png')}}" alt="">
                <span class="showcase description">Hồ sơ cá nhân nổi bật</span>
            </div>
        </div>
    </div>
</section>

<br><br>

<section class="intro">
    <h2 class="intro">Các chủ đề công nghệ mới nhất</h2>
</section>
<section class="topic row text-left">
    <div class="col-md-4">
        <h4>Ruby</h4>
        <p class="panel">Web framework nổi tiếng viết bằng Ruby như Sinatra, Rails, Lotus hay ngôn ngữ tương
            đồng Crystal. Vố số các thủ thuật với các thư viện được chia sẻ từ cộng đồng Ruby Việt Nam.</p>
    </div>
    <div class="col-md-4">
        <h4>Python</h4>
        <p class="panel">Từ những khái niệm cơ bản như Virtualenv, Decorator đến những kiến thức nâng cao về
            Descriptor, Lazy class. Ví dự thục hành bằng IRC bot hay viết opensource trên Github.</p>
    </div>
    <div class="col-md-4">
        <h4>Scala</h4>
        <p class="panel">Ngôn ngữ lập trình hàm hot nhất hiện nay. Parser combinator, Actor, Akka, Type ensure,
            Loan pattern. Cực kỳ nhiều những khái niệm và kiến thức thú vị để khám phá.</p>
    </div>
</section>

<section class="topic row text-left">
    <div class="col-md-4">
        <h4>Javascript</h4>
        <p class="panel">AngularJS, ES6, NodeJS, Meteor, Electron... Chưa bao giờ công nghệ frontend lại
            tiến hóa và bùng nổ mạnh mẽ như bây giờ. Chủ đề Javascript thể hiện những kỹ thuật và trải nghiệm
            mới nhất về xu hướng Javascript hiện nay.</p>
    </div>
    <div class="col-md-4">
        <h4>UI/UX</h4>
        <p class="panel">Từ những khái niệm cơ bản như Virtualenv, Decorator đến những kiến thức nâng cao về
            Descriptor, Lazy class. Ví dự thục hành bằng IRC bot hay viết opensource trên Github.</p>
    </div>
    <div class="col-md-4">
        <h4>Docker</h4>
        <p class="panel">Ngôn ngữ lập trình hàm hot nhất hiện nay. Parser combinator, Actor, Akka,
            Type ensure, Loan pattern. Cực kỳ nhiều những khái niệm và kiến thức thú vị để khám phá.</p>
    </div>
</section>

<br><br>

<section class="intro">
    <h2 class="intro">Truyền thông và cộng đồng</h2>
</section>

<section class="topic row">
    <div class="col-md-6">
        <h4>Truyền thông nói về Kipalog</h4>
        <div class="panel">
            <img class="ui image" src="{{ path('images/screenshot/ictn-b36c6ab9690e0a9fde4a6bb6d8c34790.png')}}"/>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Cộng đồng sử dụng Kipalog</h4>
        <div class="panel">
            <div class="col-md-2">
                <img class="img-responsive" src="{{ path('images/screenshot/rbvn-1b5e696cd776dd6c69450ba4305f068f.png')}}"/>
            </div>
            <div class="col-md-2">
                <img class="img-responsive" src="{{ path('images/screenshot/rbg-2a58dae0b8ee361c15559ca02fa4af00.png')}}"/>
            </div>
        </div>
    </div>
</section>

<br><br>

<section class="intro">
    <h2 class="intro">Đăng ký dễ dàng và đơn giản</h2>
</section>

<section class="signup">
    <span>
        <a href="{{ mlpath('user/auth/facebook') }}" class="btn btn-default btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="{{ mlpath('user/auth/twitter') }}" class="btn btn-default btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="{{ mlpath('user/auth/github') }}" class="btn btn-default btn-github"><i class="fa fa-github-alt"></i> Github</a>
    </span>
    <span class="call_to_action">
        Hoặc <a class="email" href="{{ mlpath('user/account/register') }}">đăng ký bằng email</a>
    </span>
</section>

{% endblock %}