<div class="container"><hr></div>
<div class="container">
    <div class="links">
        <a target="_blank" href="http://kipalog.com/tos">
            Điều khoản
        </a>
        <a target="_blank" href="https://www.facebook.com/groups/1466126020344500/">
            Phản hồi
        </a>
        <a target="_blank" href="https://github.com/Kipalog/Issue-tracker">
            Yêu cầu
        </a>
        <a target="_blank" href="https://www.facebook.com/pages/Kipalog/486208978117754">
            Fanpage
        </a>
        <span class="copyright pull-right">Copyright © 2015 Kipalog</span>
    </div>
</div>