{% extends 'base_1_column.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row register-form">
    <div class="col-md-5 col-md-offset-3">
        <h1 class="text-center header-logo">Kipalog</h1>
        <div class="text-center small-basic-segment">
            {{ 'Chia sẻ và học hỏi kiến thức một cách dễ dàng hơn.'|trans }}
        </div>
        <form action="{{ mlpath('user/account/registerSubmit') }}" method="post" class="form-horizontal">
            <div class="form-group has-feedback">
                <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control" placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="text" name="email" id="email" value="{{ user.email }}" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Xác nhận password">
                <span class="glyphicon glyphicon-refresh form-control-feedback"></span>
            </div>
            <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="tos" type="checkbox"> Đồng ý với <a href="">điều khoản sử dụng</a>
                </label>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary btn-block">
            </div>
        </form>
    </div>
</div>

{% endblock %}