{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1>Sign Up</h1>
<form action="{{ path('user/account/registerSubmit') }}" method="post">
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="{{ user.email }}">
    </div>
    <div>
        <label for="username">Full name</label>
        <input type="text" name="username" id="username" value="{{ user.username }}">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" id="confirm-password">
    </div>
    <div>
        <input type="submit" value="Register">
    </div>
</form>
{% endblock %}