{% if paginator.totalPage %}
<nav class="pagination center-block text-right">
    <ul class="pagination">

        <li class="{% if paginator.isFirstPage() %}disabled{% endif %}">
            <a href="{{ paginator.getPageLink()|remove_request_param('page') }}" title="First">&laquo;</a>
        </li>

        {% if paginator.isStartJump() %}
        <li>
            <span>...</span>
        </li>
        {% endif %}

        {% for i in paginator.start..paginator.end %}
        {% set class = paginator.page == i ? 'active' : '' %}
        <li class="{{ class }}">
            <a href="{{ paginator.getPageLink()|add_request_param({'page':i}) }}">{{ i }}</a>
        </li>
        {% endfor %}

        {% if paginator.isEndJump() %}
        <li>
            <span>...</span>
        </li>
        {% endif %}

        <li class="{% if paginator.isLastPage() %}disabled{% endif %}">
            <a href="{{ paginator.getPageLink()|add_request_param({'page':paginator.totalPage}) }}" title="Last">&raquo;</a>
        </li>
    </ul>
</nav>
{% endif %}