.medium-editor-insert-plugin .medium-insert-buttons button {
    color: #333;
    border: 1px solid #333;
}
.editable {
    font-size: 15px;
    min-height: 200px;
}
.control-title, .control-title:hover, .control-title:focus {
    font-size: 22px;
    font-weight: bold;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
}
.tokenfield {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
    box-shadow: none;
}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span {
    margin-top: 0;
}